<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <meta charset="ISO-8859-1">
    <title>Update Order</title>
</head>
<body>
<div th:replace="fragment/sidebar :: sidebar"></div>
<div class="container">
    <form method="post" th:action="@{/updateOrder}" th:object="${order}">
        <input type="hidden" th:field="*{id}"/>
        <div class="mb-3">
            <label for="client" class="form-label">Client:</label>
            <select id="client" name="client.id" class="form-select" th:field="*{client.id}">
                <option value="" disabled>Select a client</option>
                <option th:each="client : ${clients}" th:value="${client.id}" th:selected="${client.id == order.client.id}" th:text="${client.firstName + ' ' + client.lastName}"></option>
            </select>
        </div>
        <div class="mb-3">
            <label for="date" class="form-label">Date:</label>
            <input type="date" class="form-control" id="date" name="date" th:field="*{date}">
        </div>
        <div class="mb-3">
            <label for="status" class="form-label">Status:</label>
            <input type="checkbox" id="status" name="status" th:field="*{status}">
        </div>
        <div class="mb-3">
            <label for="product" class="form-label">Product:</label>
            <select id="product" name="product.id" class="form-select" th:field="*{product.id}">
                <option value="" disabled>Select a product</option>
                <option th:each="product : ${products}" th:value="${product.id}" th:selected="${product.id == order.product.id}" th:text="${product.name}"></option>
            </select>
        </div>
        <div class="mb-3">
            <label for="quantity" class="form-label">Quantity:</label>
            <input type="number" step="1" class="form-control" id="quantity" name="quantity" th:field="*{quantity}">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>
