<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<div th:replace="fragment/sidebar :: sidebar"></div>
<h1>Dashboard</h1>

<h2>Low Stock Products</h2>
<ul>
    <th:block th:each="product : ${lowStockProducts}">
        <li th:text="${product.name} + ' - ' + ${product.quantity}"></li>
    </th:block>
</ul>

<h2>Recent Orders</h2>
<ul>
    <th:block th:each="order : ${recentOrders}">
        <li th:text="'Order ID: ' + ${order.id} + ', Client: ' + ${order.client.firstName} + ', Date: ' + ${order.date} + ', Total: ' + ${order.total_amount}"></li>
    </th:block>
</ul>

<h2>Best Clients</h2>
<ul>
    <th:block th:each="client : ${bestClients}">
        <li th:text="${client.firstName}"></li>
    </th:block>
</ul>

<h2>Total Sales</h2>
<p th:text="'Total Sales: $' + ${totalSales}"></p>
<p th:text="'Total Sales Last Week: $' + ${totalSalesLastWeek}"></p>
<p th:text="'Total Sales Last Month: $' + ${totalSalesLastMonth}"></p>

</body>
</html>
